<footer>
  <div class="media-links">
    <a href="https://github.com/{{ github_username }}" aria-label="GitHub {{ github_username }}"><i class="fa fa-github-square" title="GitHub: {{ github_username }}" aria-hidden="true"></i></a>
    <a href="/feed.xml" aria-label="RSS feed"><i class="fa fa-rss-square" title="RSS feed" aria-hidden="true"></i></a>
  </div>

  <div class="copyright">
    Created by Benjamin Wilhelm using <a href="https://metalsmith.io/">Metalsmith</a>.
    <br>
    <a href="{{ site_meta.source }}">Source code</a>
  </div>

  <div class="site-notice">
    <a href="/site-notice/">Site notice and data privacy</a>
  </div>
</footer>
