<head>

  {{#if html_title }}
  <title>{{ site_meta.name }} - {{ html_title }}</title>
  {{else}}
  <title>{{ site_meta.name }}</title>
  {{/if}}

  {{#if favicons }}
    {{#each favicons.html }}
      {{{ this }}}
    {{/each}}
  {{/if}}

  {{! Required meta tags }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{! Inline css }}
  <style>
    {{{ style.[style.css] }}}
  </style>

  {{! Load CSS asynchronously }}
  <script>
    {{> loadCSS }}

    /* Font-awesome */
    loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

    /* Google Fonts */
    loadCSS("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro");
  </script>

  {{! Fallback resource loading without javascript }}
  <noscript>
    {{! Font-awesome }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {{! Google Fonts }}
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:900|Open+Sans|Source+Code+Pro"
      integrity="sha384-jOMs8ML0fv5JD+rjKd2B/QwRFJIKRHTopsOxg0I/3IxGo1ghmVennKD3WtlA08Ce" crossorigin="anonymous">
  </noscript>

</head>
