<header>
  <div class="website-title">
    <a class="website-title-link" href="/">{{ site_meta.name }}</a>
  </div>

  <nav>
    <ul>
      {{#each pages }}
      {{#if_eq title ../title }}
      <li class="nav-item active">
        <a class="nav-link" href="/{{ path }}">{{ title }}</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/{{ path }}">{{ title }}</a>
      </li>
      {{/if_eq}}
      {{/each}}
    </ul>
  </nav>
</header>
