<!doctype html>
<html lang="en">

{{> head }}

<body>

{{> header }}

  <main class="container">
    <article>

      <div class="content-header">
        <h1 class="content-headline">Home</h1>
      </div>
      {{{ contents }}}

      <h1>Posts</h1>
      <ul class="posts-list">
        {{#each posts}}
        <li class="post-item">
          <h3>
            <a href="{{ path }}">{{ title }}</a>
          </h3>
          <span class="post-item-date">
            {{date_format date ../date_format }}
          </span>

          {{{ excerpt }}}

        </li>
        {{/each}}
      </ul>

      {{> contact }}

    </article>
  </main>

{{> footer }}

</body>

</html>
