<!doctype html>
<html lang="en">

{{! TODO make better title }}
{{> head html_title=title}}

<body>

{{> header }}

  <main class="container">
    <article>

      <div class="content-header">
        <h1 class="content-headline">{{ title }}</h1>
      </div>

      <div>
        {{{ contents }}}
      </div>

    </article>
  </main>

{{> footer }}

</body>

</html>
