<!doctype html>
<html lang="en">
 
{{! TODO make better title }}
{{> head html_title=title }}

<body>

{{> header }}

  <main class="container">
    <article itemscope itemtype="http://schema.org/BlogPosting">

      <div class="content-header">
        <h1 class="content-headline" itemprop="name headline">{{ title }}</h1>
        <p class="post-meta">
          <time datetime="{{ date }}" itemprop="datePublished">
            {{date_format date date_format }}
          </time>
          {{#if author }}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
              itemprop="name">{{ author }}</span></span>
          {{/if}}
        </p>
      </div>

      <div itemprop="articleBody">
        {{{ contents }}}
      </div>

    </article>
  </main>

{{> footer }}

</body>

</html>
